<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="jquery/jquery.js"></script>
    <script type="text/javascript" src="jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="jquery/jquery.mask.min.js"></script>

    <script type="text/javascript" src="js/code.js"></script>

    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <link href="css/select2.min.css" rel="stylesheet" />
    <script src="js/select2.min.js"></script>
    <script src="js/en.js"></script>
</head>

<body>
    <div id="box1" align="center">
        <div>
            <h3>Hamlethub - online Contact Finder</h3>
        </div>

        <div id="menu" align="center"></div>

        <div id="box">
            <table border="1" class="tableStyle" id="business_table">
                <tr>
                    <th colspan="5" id="PR_Title">Duplicate businesses</th>
                </tr>
                <input type="text" id="searchBox" onkeyup="SearchTable()"
                    placeholder="Search for duplicate businesses" title="Search for duplicate businesses">
                <tr>
                    <th>ID</th>
                    <th>Business name</th>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    $.post('/menu', function (data) { // Request menu entries
        $('#menu').append(data);
    });

    $.post('/show-duplicate-b-names', function (data) { // Show keywords from the database
        if (data) {
            $('#business_table').append(data); // Append data to the table
            CountRows();
        } else {
            $('#business_table').append("<tr><td colspan='5' align='center'><i>No data</i></td></tr>"); // Fires when there is no data to display
        }
    });

    function del(id) { // Delete record
        var data = {
            id: id,
        };

        if (confirm("Are you sure you want to delete the entry? This action is irreversible.")) {
            $.post("/del-b-name", data, function () {
                alert("Record deleted!")
                location.href = '/duplicatenames';
            });
        }
    }

    function SearchTable() { // Search through table
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchBox");
        filter = input.value.toUpperCase();
        table = document.getElementById("business_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function CountRows() { // Count rows in table
        var rowCount = 0;
        var table = document.getElementById("business_table");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].getElementsByTagName("td").length > 0) {
            rowCount++;
            }
        }

        document.getElementById("PR_Title").innerHTML = rowCount + ' total records';
    }
</script>

</html>